{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block body %}
  {{ parent() }}
  </div>
  <div class="jumbotron">
	{{ include('G2sAppBundle:Home:about-nolayout.html.twig', {'short': true}) }}
  </div>
  <div class="container">
	<h2>Pour votre système : {{ os }}</h2>
	{% for appInfo in appInfos %}

		{{ include('G2sAppBundle:Apps:show-one-nolayout.html.twig', {'app': appInfo.app, 'short': true}) }}

	{% endfor %}

{% endblock %}
