{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Application classées dans {{ tagName}}
{% endblock %}

{% block body %}
	{{ parent() }}

	<h1>Applications classées dans {{ tagName }}</h1>

	{% for app in apps %}

		{{ include('G2sAppBundle:Apps:show-one-nolayout.html.twig', {'app': app, 'short': true}) }}

	{% else %}
		<div class="alert alert-danger"><h1>Aucune application trouvée.</h1><div>
	{% endfor %}

{% endblock %}
