{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Applications pour {{ platformName }}
{% endblock %}

{% block body %}
	{{ parent() }}

	<h1>Applications pour {{ platformName }}</h1>

	{% for appInfo in appInfos %}

		{{ include('G2sAppBundle:Apps:show-one-nolayout.html.twig', {'app': appInfo.app, 'short': true}) }}

	{% else %}
		<div class="alert alert-danger"><h1>Aucune application trouvée.</h1><div>
	{% endfor %}

{% endblock %}
