{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Home
{% endblock %}

{% block body %}
	{{ parent() }}

	{% for app in apps %}

		<h1>{{ app['app'].name }}</h1>
		<p>{{ app['app'].description }}</p>

		<h2>Available on</h2>
		<ul>
		{% for appInfo in app['appInfos'] %}
			<li>{{ appInfo['platform'].name }} </li>
		{% endfor %}
		</ul>

		<h2>Comments</h2>
		<ul>
		{% for appInfo in app['appInfos'] %}
			{% for comment in appInfo['comments'] %}
				<li>{{ comment.comment }} ({{ appInfo.platform.name }})</li>
			{% endfor %}
		{% endfor %}
		</ul>

		<h2>Marks : {{ app['avgMark'] }} / 20</h2>
		<ul>
		{% for appInfo in app['appInfos'] %}
			<li>{{ appInfo['platform'].name }} : {{ appInfo['avgMark'] }} / 20
				<ul>
				{% for mark in appInfo.marks %}
					<li> {{ mark.mark }} / 20 </li>
				{% endfor %}
				</ul>
			</li>
		{% endfor %}
		</ul>

	{% endfor %}
{% endblock %}
