{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Search
{% endblock %}

{% block body %}
	{{ parent() }}
	{% block form %}
		<div class="well">
			<form class="form-horizontal" id="form-select" method="post">
				<div class="form-group">
					<label class="col-md-3">Search : </label>
					<div class="col-md-9">
						<input id="searchField" type="text" class="form-control" placeholder="Text input"
							{% if previous_search is not null %}
								value="{{ previous_search }}"
							{% endif %}
						>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3">Platform : </label>
					<div class="col-md-9">
						{% for platform in platforms %}
							<label class="checkbox-inline">
								<img src='{{ asset('img/' ~ platform.logoPath) }}' alt={{ platform.name }}/>
								<br />
								<input type="checkbox" id="checkbox-platform{{ platform.id }}" value="{{ platform.id }}"> {{ platform.name }}
							</label>
						{% endfor %}
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3">Tags : </label>
					<div class="col-md-9">
						{% for tag in tags %}
							<label class="checkbox-inline">
							  <input type="checkbox" id="checkbox-tag{{ tag.id }}" value="{{ tag.id }}"> {{ tag.name }}
							</label>
						{% endfor %}
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3">Minimum average mark : </label>
					<div class="col-md-9">
						<select id="markForm" class="form-control">
						  <option>0</option>
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						  <option>6</option>
						  <option>7</option>
						  <option>8</option>
						  <option>9</option>
						  <option>10</option>
						  <option>11</option>
						  <option>12</option>
						  <option>13</option>
						  <option>14</option>
						  <option>15</option>
						  <option>16</option>
						  <option>17</option>
						  <option>18</option>
						  <option>19</option>
						  <option>20</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
		<div id="loading">Loading for Apps...</div>
		<div id="results">
			{% if app is not null%}
				{{ include('G2sAppBundle:Apps:show-all-nolayout.html.twig', {'apps': apps}) }}
			{% endif %}
		</div>
	{% endblock %}

{% endblock %}

{% block javascripts %}
			
	{{ parent() }}
	<script>
		$("#loading").hide();
		$("#form-select").submit(function(){
			$("#loading").show(); 
		    var mark = $("#markForm").val();
		    var search = $("#searchField").val();
		    var isFirst = true;
		    var platformsQueried = "[";
		    {% for platform in platforms %}
				if ($("#checkbox-platform{{ platform.id }}").prop('checked')) {
					if (isFirst) {
						isFirst = false;
					}else{
						platformsQueried += ", ";
					}
					platformsQueried += {{ platform.id }};
				}
		    {% endfor %}
		    platformsQueried += ']';
		    isFirst = true;
		    var tagsQueried = "[";
		    {% for tag in tags %}
				if ($("#checkbox-tag{{ tag.id }}").prop('checked')) {
					if (isFirst) {
						isFirst = false;
					}else{
						tagsQueried += ", ";
					}
					tagsQueried += {{ tag.id }};
				}
		    {% endfor %}
		    tagsQueried += ']';

		    $.ajax({
		        type: "POST",
		        url: "{{ path('g2s_app_apps_selection')}}",
		        data: {
		        		mark: mark,
						platformsQueried: platformsQueried,
						tagsQueried: tagsQueried,
						search: search		        		
		        	  },
		        cache: false,
		        success: function(data){
		        	$('#loading').hide();
		            $('#results').html(data);
		        }
		    });    
		    return false;
		});
	</script>

{% endblock %}
