{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Recherche
{% endblock %}

{% block body %}
	{{ parent() }}



	{% block form %}
		<div class="well">
			<form class="form-horizontal" id="form-select" method="post">
				<div class="form-group">
					<label class="col-md-3">Nom à chercher : </label>
					<div class="col-md-9">
						<input id="searchField" type="text" class="form-control" placeholder=""
							{% if app.session.get('search') is not null %}
								value="{{ app.session.get('search') }}"
							{% endif %}
						>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3">Plateforme : </label>
					<div class="col-md-9">
						{% for platform in platforms %}
							{% set checkIt = false %}
							{% for p in app.session.get('platforms') %}
								{% if p == platform.id %}
									{% set checkIt = true %}
								{% endif %}
							{% endfor %}
							<label class="checkbox-inline">
								<img src='{{ asset('img/' ~ platform.logoPath) }}' alt={{ platform.name }}/>
								<br />
								<input type="checkbox" id="checkbox-platform{{ platform.id }}" value="{{ platform.id }}"
								{% if checkIt == true %}
							  		checked
							  	{% endif %}
								> {{ platform.name }}
							</label>
						{% endfor %}
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3">Tags : </label>
					<div class="col-md-9">
						{% for tag in tags %}
							{% set checkIt = false %}
							{% for t in app.session.get('tags') %}
								{% if t == tag.id %}
									{% set checkIt = true %}
								{% endif %}
							{% endfor %}
							<label class="checkbox-inline">
							  <input type="checkbox" id="checkbox-tag{{ tag.id }}" value="{{ tag.id }}" 
							  {% if checkIt == true %}
							  	checked
							  {% endif %}
							  > {{ tag.name }}
							</label>
						{% endfor %}
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3">Note moyenne minimum : </label>
					<div class="col-md-9">
						<select id="markForm" class="form-control">
						  {% for i in 0..20 %}
						  	{% if app.session.get('mark') == i %}
						  		<option selected="selected">{{ i }}</option>
						  	{% else %}
						  		<option>{{ i }}</option>
						  	{% endif %}
						  {% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary">Chercher</button>
				</div>
			</form>
		
		</div>
		<div id="loading">Chargement des applications ...</div>
		<div id="results">
			{% if app is not null%}
				{{ include('G2sAppBundle:Apps:show-all-nolayout.html.twig', {'apps': apps}) }}
			{% endif %}
		</div>
	{% endblock %}

{% endblock %}

{% block javascripts %}
			
	{{ parent() }}
	<script>
		$("#loading").hide();
		$("#form-select").submit(function(){
			$("#loading").show(); 
		    var mark = $("#markForm").val();
		    var search = $("#searchField").val();
		    var isFirst = true;
		    var platformsQueried = "[";
		    {% for platform in platforms %}
				if ($("#checkbox-platform{{ platform.id }}").prop('checked')) {
					if (isFirst) {
						isFirst = false;
					}else{
						platformsQueried += ", ";
					}
					platformsQueried += {{ platform.id }};
				}
		    {% endfor %}
		    platformsQueried += ']';
		    isFirst = true;
		    var tagsQueried = "[";
		    {% for tag in tags %}
				if ($("#checkbox-tag{{ tag.id }}").prop('checked')) {
					if (isFirst) {
						isFirst = false;
					}else{
						tagsQueried += ", ";
					}
					tagsQueried += {{ tag.id }};
				}
		    {% endfor %}
		    tagsQueried += ']';

		    $.ajax({
		        type: "POST",
		        url: "{{ path('g2s_app_apps_selection')}}",
		        data: {
		        		mark: mark,
						platformsQueried: platformsQueried,
						tagsQueried: tagsQueried,
						search: search		        		
		        	  },
		        cache: false,
		        success: function(data){
		        	$('#loading').hide();
		            $('#results').html(data);
		        }
		    });    
		    return false;
		});
	</script>

{% endblock %}
