{# Process mark averages #}
{% set globalAvg	= 0		%}
{% set platformsAvg = []	%}
{% set nbAvg		= 0		%}
{% set detectOs     = null %}

<div class="row">
	<div class="col-md-12">
		<h1><a href=" {{ path('g2s_app_apps_show_one', {'app_id': application.id}) }}">{{ application.name }}</a></h1>
		<hr/>
	</div>
	<div class="col-md-9">
		<div>
			{% for tag in application.tags %}
				<a href="{{ path('g2s_app_tags_show', {'tag_id': tag.id}) }}" class="label label-primary">{{ tag.name }}</a>
			{% endfor %}
		</div>
		<br/>
		<p>{{ application.description|raw }}</p>
		{% if not short %}
			<ul class="nav nav-tabs">
				{% set isFirst = true %}
				{% for appInfo in application.appInfos %}
					{% if appInfo.manual|length %}
						{% if isFirst %}
							<li class="active">
							{% set isFirst = false %}
						{% else %}
							<li>
						{% endif %}

						<a href="#manual-platform{{ appInfo.platform.id }}" data-toggle="tab">{{ appInfo.platform.name }}</a></li>

					{% endif %}
				{% endfor %}
			</ul>
			<div class="tab-content">
				{% set isFirst = true %}
				{% for appInfo in application.appInfos %}
					{% if appInfo.manual|length %}
						<div class="tab-pane
							{% if isFirst %}
								active
								{% set isFirst = false %}
							{% endif %}
							" id="manual-platform{{ appInfo.platform.id }}" align="left"><br/>{{appInfo.manual|raw}}</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>

	<div class="col-md-3">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Télécharger pour :</h4>
				</div>
				<div class="panel-body">
					{% for appInfo in application.appInfos %}

						{# Process mark averages #}
						{% set avg		= 0 %}
						{% set markIt	= 0 %}

						{% for mark in appInfo.marks %}
							{% set avg		= avg + mark.mark %}
							{% set markIt	= markIt + 1 %}
						{% endfor %}

						{% if markIt > 0 %}
							{% set avg			= avg / markIt %}
							{% set globalAvg	= globalAvg + avg %}
							{% set nbAvg		= nbAvg + 1 %}
						{% else %}
							{% set avg = -1 %}
						{% endif %}

						{% set platformsAvg = platformsAvg | merge([avg]) %}

						{% if app.session.get('os') == appInfo.platform.name %}
							{% set detectOs = appInfo %}
						{% endif %}

					{% else %}
						<p>Aucune plateforme supportée</p>
					{% endfor %}

					{% if detectOs is not null %}
						<div class="col-sm-12">
							<h2>Pour votre système :</h2>
							<a href='http://{{detectOs.downloadPath}}'>
								<img src="{{ asset('img/' ~ detectOs.platform.logoPath) }}" alt="{{ detectOs.platform.name }}" height="100" width="100"/>
								<br/>
								{{ detectOs.platform.name }}
							</a>
							{% if application.appInfos|length > 1 %}
								<hr />
							{% endif %}
						</div>
						{% set detectOsOffset = 1 %}
					{% else %}
						{% set detectOsOffset = 0 %}
					{% endif %}

					{% if (application.appInfos|length - detectOsOffset) == 1 %}
						{% set width	= 12 %}
					{% elseif (application.appInfos|length - detectOsOffset)== 2 %}
						{% set width	= 6 %}
					{% else %}
						{% set width	= 4 %}
					{% endif %}

					{% for appInfo in application.appInfos %}
						{% if (detectOs is not null and appInfo != detectOs) or detectOs is null %}
							<div class="col-sm-{{ width }}">
								<a href='http://{{appInfo.downloadPath}}'>
									<img src="{{ asset('img/' ~ appInfo.platform.logoPath) }}" alt="{{ appInfo.platform.name }}" height="64" width="64"/>
									<br/>
									{{ appInfo.platform.name }}
								</a>
							</div>
						{% endif %}
					{% endfor %}


					{# Process mark averages #}
					{% if nbAvg > 0 %}
						{% set globalAvg = globalAvg / nbAvg %}
					{% else %}
						{% set globalAvg = -1 %}
					{% endif %}
				</div>
				{% if globalAvg != -1 %}
					<div class="panel-heading">
						<h4>Notes : {{ globalAvg }} / 20</h4>
					</div>
					<div class="panel-body">
						<ul>
						{% set platformIt = 0 %}
						{% for appInfo in application.appInfos %}
							<li>
								{{ appInfo.platform.name }} :
								{% if platformsAvg[platformIt] != -1 %}
									{{ platformsAvg[platformIt] }}
								{% else %}
									-
								{% endif %}
								/ 20
							</li>
							{% set platformIt = platformIt + 1 %}
						{% endfor %}
						</ul>
					</div>
				{% else %}
					<div class="panel-heading">
						<h4>Aucune note</h4>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{% if not short %}
		<div class="col-md-12">
			<h2>Comments</h2>
			<div id="divFormCom" class="well">
				<form class="form-horizontal" id="form-comment{{ application.id }}" method="POST">
					<div class="form-group">
						<div class="col-md-4">
							<label for="titleCom" class="control-label col-md-3">Titre : </label>
							<div class="col-md-9">
								<input type="text" placeholder="Title" class="form-control" id="titleCom{{ application.id }}" name="titleCom" style="display: inline;">
							</div>
						</div>
						<div class="col-md-4">
							<label for="platformCom" class="control-label col-md-4">Plateforme : </label>
							<div class="col-md-8">
								<select id="platformCom{{ application.id }}" class="form-control" name="platformCom">
								  {% for appInfo in application.appInfos %}
									<option value="{{ appInfo.platform.id }}">{{ appInfo.platform.name }}</option>
								  {% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<label for="markCom" class="control-label col-md-4">Note : </label>
							<div class="col-md-8">
								<select id="markCom{{ application.id }}" class="form-control" name="markCom">
								  <option value="">Add a Mark</option>
								  <option>0</option>
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								  <option>6</option>
								  <option>7</option>
								  <option>8</option>
								  <option>9</option>
								  <option>10</option>
								  <option>11</option>
								  <option>12</option>
								  <option>13</option>
								  <option>14</option>
								  <option>15</option>
								  <option>16</option>
								  <option>17</option>
								  <option>18</option>
								  <option>19</option>
								  <option>20</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<textarea id="textCom{{ application.id }}" class="form-control" name="commentCom" placeholder="Ajoutez votre commentaire ..." rows="3"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<button type="submit" id="submitCom{{ application.id }}" class="btn btn-primary form-control"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
						</div>
					</div>
				</form>
			</div>
			{{ render(controller('G2sAppBundle:Comments:show', {'app_id': application.id})) }}
		</div>
	{% endif %}
</div>

<hr/>

{% if not short %}
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>
		$("#form-comment{{ application.id }}").submit(function(){
			var comment = $("#textCom{{ application.id }}").val();

			if(comment != "")
			{
				var mark = $("#markCom{{ application.id }}").val();
				var title = $("#titleCom{{ application.id }}").val();
				var platform = $("#platformCom{{ application.id }}").val();
				var platformName = $('#platformCom{{ application.id }} option:selected').html();
				var app = {{ application.id }};

				var commentDOM = '<div class="panel panel-info"><div class="panel-heading"><strong>' + title + '</strong>';

				if(mark == "")
					mark = null;
				else
					commentDOM += ' ' + mark + ' / 20';

				commentDOM += '<em>(' + platformName + ')</em></div><div class="panel-body">' + comment + '</div></div>';

				$.ajax({
					type: "POST",
					url: "{{ path('g2s_app_comments_add') }}",
					data: {
							mark: mark,
							title: title,
							comment: comment,
							platform: platform,
							app: app
						  },
					cache: false,
					success: function(data){
						$("#no-comment").remove();
						$(commentDOM).insertAfter("#divFormCom");
					}
				});
				return false;
			}
			else
				alert("Vous devez ajouter un commentaire.");
		});

	</script>
{% endif %}
