{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Home
{% endblock %}

{% block body %}
	{{ parent() }}

	{# Process mark averages #}
	{% set globalAvg	= 0		%}
	{% set platformsAvg = []	%}
	{% set platformIt	= 0		%}

	<div class="row">
		<div class="col-md-12">
		<h1><a href=" {{ path('g2s_app_show_app_one', {'app_id': app.id}) }}">{{ app.name }}</a></h1>
		<p>
			{% for tag in app.tags %}
				<span class="label label-primary">{{ tag.name }}</span>
			{% endfor %}
			{{ app.description }}
		</p>
		</div>

		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Available on</h3>
				</div>
				<div class="panel-body">
					<ul>
					{% for appInfo in app.appInfos %}
						<li><a href='{{appInfo.downloadPath}}'>{{ appInfo.platform.name }}</a></li>

						{# Process mark averages #}
						{% set avg		= 0 %}
						{% set markIt	= 0 %}
						{% for mark in appInfo.marks %}
							{% set avg		= avg + mark.mark %}
							{% set markIt	= markIt + 1 %}
						{% endfor %}
						{% if markIt > 0 %}
							{% set avg = avg / markIt %}
						{% endif %}

						{% set globalAvg = globalAvg + avg %}
						{% set platformsAvg = platformsAvg | merge([avg]) %}
						{% set platformIt = platformIt + 1 %}

					{% else %}
						<p>Aucune plateforme supportée</p>
					{% endfor %}
					</ul>

					{# Process mark averages #}
					{% set globalAvg = globalAvg / platformIt %}
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Marks : {{ globalAvg }} / 20</h3>
				</div>
				<div class="panel-body">
					<ul>
					{% set platformIt = 0 %}
					{% for appInfo in app.appInfos %}
						<li>{{ appInfo.platform.name }} : {{ platformsAvg[platformIt] }} / 20</li>
						{% set platformIt = platformIt + 1 %}
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<h2>Comments</h2>
			{% for appInfo in app.appInfos %}
				{% for comment in appInfo.comments %}
					<div class="panel panel-info">
						<div class="panel-heading">
							<strong>{{ comment.title }}</strong>
							{% if comment.mark is not null%}
								{{ comment.mark.mark }} / 20
							{% endif %}
							<em>({{ appInfo.platform.name }})</em>
						</div>
						<div class="panel-body">
							{{ comment.comment }}
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>

	<hr>

{% endblock %}
